#vcomments.v[data-class=v] .veditor {
    background-image: url(https://i.postimg.cc/5tQzK5bm/O3BlZ.gif);
    /* https://dyfa.top/usr/themes/Nabo-theme-typecho-main/image/comment_bg.webp https://cdn1.tianli0.top/gh/LYXOfficial/LYXOfficial.github.io/img/comment.png*/
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

/*音乐播放器侧边收缩*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px!important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0!important;
}